@import "../../../config/vars.scss";
/*------------------------------------------------------------------
    Customer Reviews
-------------------------------------------------------------------*/

.customer-reviews-box {
  padding: 70px 0px;
}

.carousel-inner .carousel-item .img-box {
  width: 135px;
  height: 135px;
}
.carousel-control-prev {
  left: -100px;
}
.carousel-control-next {
  right: -100px;
}
.carousel-indicators {
  top: 320px;
}

.text-warning {
  color: #d0a772 !important;
  font-size: $fontSizeH1;
}

@media (min-width: $mobileBreakPoint) and (max-width: $tabletBreakPoint) {
  .carousel-inner .carousel-item p {
    font-size: $fontSizePSmall;
  }
  .carousel-control-prev {
    left: -5px;
  }
  .carousel-control-next {
    right: -5px;
  }
  .carousel-indicators {
    top: 400px;
  }
}

.carousel-control-prev {
  background: $colorThemeMain;
  color: $colorWhite;
  display: block;
  position: absolute;
  width: 8%;
  height: 50px;
  top: 50%;
  font-size: $fontSizeH1;
  opacity: 1;
}
.carousel-control-prev:hover {
  background: #010101;
  color: #ffffff;
}

.carousel-control-next {
  background: #d0a772;
  color: #ffffff;
  display: block;
  position: absolute;
  width: 8%;
  height: 50px;
  top: 50%;
  font-size: $fontSizeH1;
  opacity: 1;
}
.carousel-control-next:hover {
  background: #010101;
  color: #ffffff;
}
