@import '../../../../common/template/config/theme/vars.less';


.legal-info {
    color        : @color2;
    font-size    : 14px;
    font-style   : normal;
    font-weight  : 400;
    line-height  : @height59;
    margin-bottom: 20px;
    opacity      : .2;

    .legal-info__part {
        white-space: nowrap;
    }
}