@import "../../../../config/vars.scss";
/*------------------------------------------------------------------
    Menu
-------------------------------------------------------------------*/
.menu-box {
  padding: 70px 0px;

  .heading-title {
    margin-bottom: 50px;
    h2 {
      color: $colorDark;
      font-size: $fontSizeH5;
      font-family: $hFontFamily;
    }
    p {
      font-size: $fontSizePBig;
      font-weight: $fontWeightnLight;
      margin: 0px;
    }
  }
}

.filter-button-group {
  border: $borderStandard;
  border-radius: $borderRadiusStandard;
  margin: 10px 15px;
  display: inline-block;
  button {
    color: $colorGrey;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: $fontWeightnBold;
    font-size: $fontSizePSmall;
    cursor: pointer;
    background: $colorWhite;
    padding: 12px 40px;
    border: none;
    border-radius: $borderRadiusStandard;
    &.active {
      background: $colorThemeMain;
      color: $colorWhite;
      box-shadow: 2px 20px 45px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.gallery-single {
  margin: 30px 0px;
}

.gallery-single {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px $colorLightGrey;
  box-shadow: 0 0 10px $colorLightGrey;
}

.why-text {
  position: absolute;
  left: 0;
  bottom: -100%;
  right: 0;
  height: 100%;
  background: rgba(207, 166, 113, 0.9);
  padding: 12px 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  h4 {
    color: $colorWhite;
    font-size: $fontSizeH4;
    font-weight: $fontWeightnSemiBold;
    font-family: $hFontFamily;
  }
  p {
    color: $colorWhite;
    font-size: $fontSizePBig;
    border-bottom: 1px dashed $colorDark;
    margin: 0px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  h5 {
    font-size: $fontSizeH5;
    font-weight: $fontWeightnBold;
    color: $colorWhite;
  }
}
.gallery-single:hover .why-text {
  bottom: 0px;
}
