@import '../../../../common/template/config/theme/vars.less';

.restaurants {
    header {
        align-items    : center;
        display        : flex;
        justify-content: space-between;
        margin-bottom  : 3rem;
    }

    .restaurants-header-title {
        margin-top: -0.5rem;
    }

    .restaurants-header-search {
        max-width: 22rem;
        width    : @width100percent;
    }
}

.page-title {
    h2 {
        color    : @colorBlack;
        font-size: 2rem;
        ;
        font-weight: 300;
        line-height: 1.2;
        margin     : 0;
    }

}

.restaurants-list__show-more {
    text-align : center;
    font-weight: 700;

}

.restaurants-list__upload-button {
    border-radius   : 5px;
    height          : 4rem;
    display         : block;
    background-color: @colorMain;
    color           : white;
    position        : relative;
}

.restaurants-list__upload-button span {
    position    : relative;
    padding-left: 30px;
}

.restaurants-list__upload-button span::before {
    content            : '';
    background-image   : url(https://broniboy.ru/img/icons/spin.svg);
    background-position: center center;
    background-repeat  : no-repeat;
    height             : 1.25rem;
    left               : 0;
    position           : absolute;
    top                : 2px;
    width              : 1rem;
    height             : 1rem;
}

.restaurants-list__upload-button span:hover {
    animation-duration: 1s;
    animation-name    : moveFromLeft;
}