{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true,
    "jest": true,
    "serviceworker": true
  },
  "plugins": [
    "effector"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jest/all",
    "plugin:testing-library/react",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:effector/recommended",
    "plugin:effector/scope"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "camelcase": 0,
    "no-console": 0,
    "jest/require-hook": 0,
    "effector/no-watch": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0
  }
}