{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true,
    "jest": true,
    "serviceworker": true
  },
  "plugins": [
    "effector",
    "react",
    "prettier"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "plugin:effector/recommended",
    "plugin:effector/scope"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ],
    "camelcase": 0,
    "no-console": 0,
    "jest/require-hook": 0,
    "effector/no-watch": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "jest/no-hooks": 0,
    "jest/prefer-expect-assertions": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".native.js"]
      }
    }
  }
}