@import "../../../../config/vars.scss";

/*------------------------------------------------------------------
    Slider
-------------------------------------------------------------------*/
.cover-slides {
  height: 100vh;
  overflow: hidden;
  position: relative;

  img {
    backface-visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  .slides-container {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    height: 100%;
  }

  .container {
    height: 100%;
    position: relative;
    z-index: 2;

    > .row {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    > .row {
      height: 100%;
    }
  }

  .overlay-background {
    background: $colorGrey;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
  }

  h1 {
    font-family: $hFontFamily;
    font-weight: $fontWeightnSemiBold;
    font-size: $fontSizeH1Big;
    color: $colorWhite;
  }
  p {
    font-size: $fontSizePBig;
    color: $colorWhite;
  }

  @media (max-width: $tabletBreakPoint) {
    h1 {
      font-size: $fontSizeH1;
    }
    p {
      font-size: $fontSizePSmall;
    }
  }

  .slides-pagination a {
    border: 2px solid $colorWhite;
  }
}
