// Color variables (appears count calculates by raw css)
@import '../../../../../common/template/config/theme/vars.less';


.welcome {
    align-items    : center;
    background     : @color0 url(https://broniboy.ru/img/backgrounds/welcome/home-page.svg) no-repeat center center;
    display        : flex;
    height         : 650px;
    justify-content: center;
    position       : relative;


    .welcome-content__title {
        color      : @colorWhite;
        font-size  : 2rem;
        font-style : normal;
        font-weight: 700;
        margin     : 0 0 36px 0;
        text-align : center;

        span {
            display    : block;
            font-size  : 48px;
            font-weight: 700;
        }
    }

    .welcome-search {
        margin   : 0 auto 52px auto;
        max-width: 4@width79;
        width    : @width75;
    }
}

.welcome-search-form {
    .welcome-search-form-content {
        position: relative;
    }

    label {
        background-image   : url(https://broniboy.ru/img/icons/cursor.svg);
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : 20px 20px;
        height             : @height42;
        left               : 0;
        margin             : 0;
        position           : absolute;
        width              : @width67;
    }

    input {
        background-color: @colorWhite;
        border          : none;
        border-radius   : 32px;
        font-size       : 24px;
        font-style      : normal;
        font-weight     : 400;
        height          : @height42;
        padding-left    : 60px;
        padding-right   : 64px;
        width           : @width75;
    }

    button[type=submit] {
        border-radius: 50%;
        height       : 56px;
        padding      : 2px 0 0;
        position     : absolute;
        right        : 4px;
        text-align   : center;
        top          : 4px;
        width        : 56px;
    }
}

.welcome-app {
    align-items    : center;
    display        : flex;
    justify-content: space-around;
    margin         : 0 auto;
}