@import '../../../../../../common/template/config/theme/vars.less';

.social-links {
    .social-links__items {
        margin : 1.5rem 0 2rem;
        padding: 0;

        .social-links__item {
            margin-left: 1.5rem;
            width      : 2rem;
            height     : 2rem;
        }
    }
}

.logo__description {
    color      : #000;
    font-size  : 1rem;
    font-style : italic;
    margin-left: 0.75rem;
    opacity    : .6
}

.social-links__logo {
    max-width : 150px;
    max-height: 55px;
}

.social-links__logo-link {
    position: relative;
}