@import "../../../../config/vars.scss";

/*------------------------------------------------------------------
    Slider
-------------------------------------------------------------------*/
.cover-slides {
  height: 100vh;
  overflow: hidden;
  position: relative;

  img {
    backface-visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  .slides-container {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    height: 100%;
  }

  .container {
    height: 100%;
    position: relative;
    z-index: 2;

    > .row {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    > .row {
      height: 100%;
    }
  }

  .overlay-background {
    background: $colorBackground;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
  }

  h1 {
    font-family: $hFontFamily;
    font-weight: $fontWeightnSemiBold;
    font-size: $fontSizeH1Big;
    color: $whiteColor;
  }
  p {
    font-size: $fontSizePBig;
    color: $whiteColor;
  }

  @media (max-width: $tabletBreakPoint) {
    h1 {
      font-size: $fontSizeH1Normal;
    }
    p {
      font-size: $fontSizePSmall;
    }
  }

  .slides-pagination a {
    border: 2px solid $whiteColor;
  }

  .btn {
    text-transform: uppercase;
    padding: 19px 36px;
  }
  .btn {
    display: inline-block;
    font-weight: $fontWeightnBold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.1875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-outline-new-white {
    color: $whiteColor;
    background-color: transparent;
    background-image: none;
    border-color: $colorThemeMain;
  }
  .btn-outline-new-white:hover {
    color: $whiteColor;
    background-color: $colorThemeMain;
    border-color: $colorThemeMain;
  }
}
