@import "../../../config/vars.scss";
/*------------------------------------------------------------------
    QT
-------------------------------------------------------------------*/

.qt-background {
  background: url(http://localhost:3000/images/qt-bg.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;

  p {
    font-size: $fontSizeH3;
    font-weight: $fontWeightnNormal;
    line-height: 44px;
    color: $colorWhite;
    font-family: $hFontFamily;
    margin-bottom: 20px;
  }

  span {
    color: $colorWhite;
    font-size: $fontSizePBig;
    font-weight: $fontWeightnSemiBold;
  }
}
