@import "../../../../config/vars.scss";
/*------------------------------------------------------------------
    About
-------------------------------------------------------------------*/

.about-section-box {
  padding: 70px 0px;
  .img-fluid {
    box-shadow: -10px -10px 0px $colorThemeMain;
  }
}

.inner-column {
  h1 {
    font-family: $hFontFamily;
    font-size: $fontSizeH1;
    color: $colorDark;
    span {
      color: $colorThemeMain;
    }
  }
  p {
    font-size: $fontSizePBig;
  }
}
