@import '../../common/template/config/theme/vars.less';

.header {
    background-color: @colorWhite;
    box-shadow      : 0 0.75rem 2rem 0 rgba(0, 0, 0, .1);
    position        : fixed;
    width           : 100%;
    z-index         : 1000;
    height          : 60px;
    border          : 2px solid green;


    .header_container {
        position: relative;
        right   : 1rem;

        .header_container-buttons {
            position: absolute;
            right   : 1rem;
        }
    }
}