// @import "../../../config/theme/vars.less";
/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.header .header_sticky {
  background-color: yellow;
  left            : 0;
  position        : fixed;
  padding         : 8px 0;
  top             : 0;
  width           : 100%;
  z-index         : 350;


  .header-content {
    position: relative;
  }

  .header-container {
    position: relative;

    .container {
      width: @desktopWidth;

      padding-right: 15px;
      padding-left : 15px;
      margin-right : auto;
      margin-left  : auto;
    }
  }


}



@media (max-width: @tabletBreakPoint) {
  .navbar-wrapper {
    .top-navbar {
      background-color: red;
    }
  }
}

@media (min-width: @tabletBreakPoint) and (max-width: @desktopBreakPoint) {
  .navbar-wrapper {
    .top-navbar {
      background-color: green;
    }
  }
}