$hFontFamily: "Arbutus Slab", serif;

$colorThemeMain: #cfa671;
$colorLightGrey: #e4e4e4;
$colorGrey: #333;
$colorDark: #010101;
$colorWhite: #fff;

$borderStandard: 1px solid $colorLightGrey;
$borderRadiusStandard: 4px;

$fontWeightnBold: 600;
$fontWeightnSemiBold: 500;
$fontWeightnNormal: 300;
$fontWeightnLight: 200;

$fontSizeH1Big: 64px;
$fontSizeH1Normal: 22px;
$fontSizeH3: 35px;
$fontSizeH4: 30px;
$fontSizeH5: 28px;

$fontSizePBig: 18px;
$fontSizePNormal: 16px;
$fontSizePSmall: 14px;

$mobileBreakPoint: 320px;
$tabletBreakPoint: 767px;
$desktopBreakPoint: 991px;

$borderRadius: 4px;

$boxShadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
