$hFontFamily: "Arbutus Slab", serif;

$colorThemeMain: #cfa671;
$colorBackground: #333;
$colorWhite: #fff;
$colorDark: #010101;

$fontWeightnBold: 600;
$fontWeightnSemiBold: 500;

$fontSizeH1Big: 64px;
$fontSizeH1Normal: 22px;
$fontSizeH4Big: 30px;

$fontSizePBig: 18px;
$fontSizePNormal: 16px;
$fontSizePSmall: 14px;

$tabletBreakPoint: 767px;
$desktopBreakPoint: 991px;

$borderRadius: 4px;

$boxShadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
