$hFontFamily: "Arbutus Slab", serif;

$colorThemeMain: #cfa671;

$colorBackground: #333;
$whiteColor: #fff;

$fontWeightnBold: 600;
$fontWeightnSemiBold: 500;

$fontSizeH1Big: 64px;
$fontSizeH1Normal: 22px;

$fontSizePBig: 18px;
$fontSizePNormal: 16px;
$fontSizePSmall: 14px;

$tabletBreakPoint: 767px;
