.ordering__mobile {
    position: relative;

    .ordering-form__container {
        padding-left : 15px;
        padding-right: 15px;
    }




    .ordering-form__address,
    .ordering-form__phone,
    .ordering-form__time {
        width    : 100%;
        flex-wrap: wrap;
    }

    .ordering-form {

        label {
            display    : block;
            font-size  : 1rem;
            line-height: 22px;
            color      : rgba(0, 0, 0, .4);
            font-weight: 400;
        }

        button {
            border-radius   : 3px;
            height          : 42px;
            font-size       : 16px;
            line-height     : normal;
            border          : 1px solid rgba(0, 0, 0, .1);
            padding         : 0 10px;
            background-color: #fff;
        }

        .page-title--checkout {
            h2 {
                font-size  : 1.5rem;
                font-weight: 400;
            }
        }

        .ordering-form__phone {
            width    : 100%;
            flex-wrap: wrap;
        }

        .input-phone-wrapper {
            position     : relative;
            margin-right : 10px;
            margin-bottom: 15px;

            input {
                border-radius   : 3px;
                height          : 42px;
                font-size       : 16px;
                line-height     : normal;
                border          : 1px solid rgba(0, 0, 0, .1);
                padding         : 0 10px;
                background-color: #fff;
            }
        }

        .ordering-form__phone-info {
            font-size: 14px;
            position : absolute;
            left     : 0;
            bottom   : -23px;
            width    : 320px;

            span {
                color: #f37021;
            }

            .code_mins {
                margin-left: 5px;
            }
        }

        .order-form-send-code {
            border          : none;
            background-color: #f37021;
            color           : #fff;
        }
    }
}