@import '../../../../common/template/config/theme/vars.less';

.cart-item {

    &__title {
        font-weight: 1rem;
        font-weight: 500;
    }

    &__description {
        font-weight: 0.5rem;
        color      : @colorGray;
    }

    button {
        border    : 0;
        width     : 20px;
        height    : 20px;
        border    : none;
        background: 0 0;
    }

    input {
        width     : 30px;
        height    : 23px;
        border    : none;
        background: 0 0;
        text-align: center;
        color     : #000;
        margin    : 0 5px;
    }
}