@import '../../../../../../common/template/config/theme/vars.less';

.social-links {
    .social-links__items {
        margin : 1.5rem 0 2rem;
        padding: 0;

        .social-links__item {
            margin-left: 1.5rem;
            width      : 2rem;
            height     : 2rem;
        }
    }
}

.logo__description {
    color      : #000;
    font-size  : 16px;
    font-style : italic;
    margin-left: 8px;
    margin-top : 5px;
    opacity    : .6
}

.social-links__logo {
    width : 150px;
    height: 55px;
}

.social-links__logo-link {
    width   : 410px;
    display : block;
    position: relative;
}

.social-links__description {
    position: absolute;
    right   : 0;
    bottom  : 18px;
}