@import "../../../config/vars.scss";
/*------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------*/

.gallery-box {
  padding: 70px 0px;
}

.tz-gallery {
  margin-top: 30px;
  .lightbox {
    img {
      width: 100%;
      margin-bottom: 30px;
      transition: 0.2s ease-in-out;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
