@import '../../../../../../common/template/config/theme/vars.less';

.header-nav-item-link-basket-stub {
    background   : url(https://broniboy.ru/img/icons/basket-icon.svg) no-repeat center center;
    border-radius: 20px;
    opacity      : .4;
    padding      : 19px;
}