.ordering__mobile {
    position: relative;

    .ordering-form__address,
    .ordering-form__phone,
    .ordering-form__time {
        max-width: 520px;
    }

    .page-title--checkout {
        margin-top   : 15px;
        margin-bottom: 10px;
    }

    .ordering-form__container {
        padding-left : 15px;
        padding-right: 15px;
    }


    .ordering-form__address,
    .ordering-form__phone,
    .ordering-form__time {
        width    : 100%;
        flex-wrap: wrap;
    }

    .input-code-error,
    .input-promocode-error {
        color: #e70f0f;
    }

    .ordering-form {

        button,
        input,
        select {
            border-radius   : 3px;
            height          : 42px;
            font-size       : 16px;
            line-height     : normal;
            border          : 1px solid rgba(0, 0, 0, .1);
            padding         : 0 10px;
            background-color: #fff;
        }

        label {
            display    : block;
            font-size  : 0.9rem;
            line-height: 22px;
            color      : rgba(0, 0, 0, .4);
            font-weight: 400;
        }

        button {
            border-radius   : 3px;
            height          : 42px;
            font-size       : 16px;
            line-height     : normal;
            border          : 1px solid rgba(0, 0, 0, .1);
            padding         : 0 10px;
            background-color: #fff;
        }

        input:disabled {
            background-color: rgba(0, 0, 0, .1);
        }

        .page-title--checkout {
            h2 {
                font-size  : 1.5rem;
                font-weight: 400;
            }
        }



        .ordering-form__address {
            margin-top: 40px;

            button {
                border       : none;
                background   : 0 0;
                color        : #f37021;
                font-size    : 14px;
                line-height  : 22px;
                height       : auto;
                padding-right: 0;
            }


            .address__title {
                font-size      : 14px;
                line-height    : 22px;
                color          : rgba(0, 0, 0, .4);
                font-weight    : 400;
                border-bottom  : 1px solid rgba(0, 0, 0, .1);
                display        : flex;
                justify-content: space-between;
                padding-bottom : 5px;
                margin-bottom  : 15px;
            }

            .custom-input-buttons {
                list-style  : none;
                padding-left: 0;
                margin      : 0;
            }

        }


        .ordering-form__time {
            margin         : 40px 0;
            display        : flex;
            justify-content: space-between;

            .ordering-form__time--input {
                height: 70px;

                .ant-select-selector {
                    height: 42px;
                }

            }

        }

        .order-options-time {
            width: 200px;
        }

        .form-checkout-promocode {
            position: relative;


            .form-checkout-promocode__button-wrapper {
                display   : inline-block;
                background: #fff;
            }

            .form-checkout-promocode__input {
                width: 170px;
            }

            .form-checkout-promocode__input {
                border-radius: 3px 0 0 3px;
            }

            .form-checkout-promocode__button {
                color        : #f37021;
                border-color : #f37021;
                border-radius: 0 3px 3px 0;
            }
        }

        .ordering-form__payments {
            .ant-radio-inner {
                width : 22px;
                height: 22px;
                top   : 4px
            }

            .ordering-form__payments--info {
                color  : #b2b2b2;
                opacity: .4;
            }
        }

        .ordering-form__finish {
            margin-top: 40px;
            border-top: 1px solid rgba(0, 0, 0, .2);
            padding   : 25px 0;

            .order-finish {
                display        : flex;
                margin-bottom  : 10px;
                justify-content: space-between;
            }

            .order-finish__wrapper {
                display        : flex;
                flex-direction : column;
                justify-content: space-around;
            }

            .order-finish__title {
                font-size    : 0.75rem;
                color        : #b2b2b2;
                margin-bottom: 5px;
            }

            .order-finish__item {
                margin-right: 10px;
            }

            .order-finish__item--total {
                min-width: auto;
            }

            .order-options-guests-numbers-nav {
                display        : flex;
                align-items    : center;
                justify-content: left;

                div {
                    margin: 0 15px;
                }

                span {
                    display    : flex;
                    align-items: center;
                    cursor     : pointer;
                    height     : 18px;
                }


            }

            .confirm-order {
                width           : 100%;
                height          : 42px;
                background-color: #f37021;

                &__disabled1 {
                    background-color: #ccc;
                    border-color    : #ccc;
                }



                a {
                    font-size: 1.25rem;
                    color    : #fff;
                    width    : 100%;
                    height   : 100%;
                    display  : block;

                    text-align : center;
                    padding-top: 9px;
                }

            }
        }


    }

}