*,
:after,
:before {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    color      : #000;
    font-family: Roboto, sans-serif;
    font-size  : 15px;
    font-style : normal;
    font-weight: 400;
    height     : 100%;
    line-height: 1.5em;
    overflow-x : hidden
}

h1 {
    color      : #000;
    font-size  : 42px;
    font-weight: 300;
    line-height: 1.286
}

h2 {
    color      : #000;
    font-size  : 36px;
    font-weight: 500;
    line-height: 1.278
}

h3 {
    color      : #000;
    font-size  : 24px;
    line-height: 1.333
}

h4 {
    color         : #000;
    font-size     : 28px;
    font-weight   : 700;
    line-height   : 1.357;
    text-transform: uppercase
}

a {
    color          : #666;
    text-decoration: none
}

a:hover {
    color          : rgba(243, 112, 33, .82);
    text-decoration: none
}

a:active {
    color          : rgba(243, 112, 33, .82);
    text-decoration: none
}

a:focus {
    color          : rgba(243, 112, 33, .82);
    outline        : 0;
    text-decoration: none
}

a,
button {
    outline: 0
}

button {
    color : inherit;
    font  : inherit;
    margin: 0
}

button {
    padding: 0
}

button:focus {
    outline: 0
}

.clearfix:after {
    clear  : both;
    content: "";
    display: table
}

.btn-clear {
    background-color: transparent;
    border          : none;
    cursor          : pointer
}

.list-clear {
    list-style  : none;
    margin      : 0;
    padding-left: 0
}