@import '../../../../../common/template/config/theme/vars.less';

.service-list__item {
    margin-bottom: 1.5rem;
}

.restaurant-menu-item {
    flex      : 1;
    min-height: 125px;
    cursor    : pointer;
    overflow  : hidden;
    height    : 23rem;
    ;
}

.restaurant-menu-item__image {
    background-color: #fff;
    max-height      : 160px;
    overflow        : hidden;
    border-radius   : 3px 3px 0 0;
    text-align      : center
}

.restaurant-menu-item__image img {
    width : auto;
    height: 100%
}

.restaurant-menu-item__image--full {
    height: 160px
}

.restaurant-menu-item__image--fill img {
    width     : 100%;
    height    : 160px;
    object-fit: cover
}

.restaurant-menu-item-info {

    .restaurant-menu-item-info__title {
        h3 {
            padding    : 0.25rem;
            font-size  : 1.5rem;
            font-weight: 500;

            @media (min-width: @md) {
                font-size  : 1rem;
                font-weight: 400;
            }
        }

        p {
            font-size  : 1rem;
            font-weight: 500;

            @media (min-width: @md) {
                font-size  : 0.75rem;
                font-weight: 300;
            }
        }
    }

    .restaurant-menu-item-info__amount {
        font-size  : 14px;
        font-weight: 400;
        opacity    : .4;
        white-space: nowrap;
    }
}

.restaurant-menu-item {
    border       : 1px solid @color3;
    border-radius: 3px;
    cursor       : pointer;
    overflow     : hidden;
    position     : relative;

    &:hover {
        box-shadow: 0 0 1.5rem @color26;
    }





}

.service-list__item-add-to-cart-button {
    border          : 0;
    background-color: #fff
}

.service-list__item-count {
    color: #f37021;
}